{{!-- Title --}}
<h1 id="title">Burger Orders</h1>
<br>

{{!-- Burgers Display --}}
<div class="container">
    <div class="row">

        <div class="col-md-2"></div>

        {{!-- LEFT Panel: Uneaten burgers --}}
        <div class="col-md-4">
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        {{this.id}}. {{this.burger_name}}
                        <button data-id="{{this.id}}" class="devour-btn">Delivered</button>
                        <br>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        {{!-- RIGHT Panel: Devoured burgers --}}
        <div class="col-md-4">
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        {{this.id}}. {{this.burger_name}}
                        <br>
                    {{/if}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-2"></div>

    </div>
</div>

<br>

{{!-- Add Burger Form --}}
<div>
    <form class="create-burger">
        <div class="form-group">
            <label for="burger">Add a Burger:</label>
            <input type="text" id="burger-input" name="newBurger">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>