{{!-- * Setup the `index.handlebars` to have the template that Handlebars can render onto. --}}

<h1 id="title">Burger Orders</h1>
<br>
<!-- Pass in data from server.js -->

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-4">
            {{!-- LEFT: Display uneaten burgers --}}
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        {{this.id}}. {{this.burger_name}}
                        <button data-id="{{this.id}}" class="devour-btn">Delivered</button>
                        <br>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-4">
            {{!-- RIGHT: Display devoured burgers --}}
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        {{this.id}}. {{this.burger_name}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-2"></div>
    </div>
</div>

<br>

<div>
    <form class="create-burger">
        {{!-- Form to add new burger to db --}}
        <div class="form-group">
            <label for="burger">Add a Burger:</label>
            <input type="text" id="burger-input" name="newBurger">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>